.button_orange {
  background-color: var(--color-orange);
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
}

.button_black {
  background-color: var(--color-black);
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
}

.fancy_heading {
  margin: 1rem 0;
  line-height: 1.4;
  font-family: var(--font-akira);

  background: var(--gradient-heading);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.exit_preview {
  position: fixed;
  z-index: 99999;
  bottom: 20px;
  right: 20px;
  background: var(--color-orange);
  color: var(--color-white);
  padding: 8px 16px;
  text-decoration: none;
}

.fullwidth {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
