.dates {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.date {
  width: 100%;
  box-shadow: var(--shadow-sm);

  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    text-decoration: none;
  }

  &_wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &_image {
    width: 30%;
    position: relative;
  }

  &_content {
    width: 70%;
    padding: 8px 24px;
    color: var(--color-black);

    h3 {
      margin: 16px 0 24px 0;
    }

    &_details {
      display: flex;
      flex-direction: row;
      gap: 48px;

      p {
        display: flex;
        flex-direction: column;
      }

      small {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 8px;
      }
    }
  }

  &_buttons {
    width: 20%;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  @media (max-width: 900px) {
    flex-direction: column;

    &_wrapper {
      width: 100%;
      flex-direction: column;
    }

    h3 {
      margin: 16px 0;
    }

    &_image,
    &_content,
    &_buttons {
      width: 100%;
    }

    &_content_details {
      gap: 24px;
    }
  }
}

.month {
  width: 100%;

  p {
    display: inline-block;
    font-size: var(--font-md);
    font-weight: 500;
    color: var(--color-white);
    background: var(--color-orange);
    padding: 8px 16px;
    border-radius: var(--border-radius);
  }
}
