.affiliate_links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;

  h2 {
    font-size: var(--font-base);
    font-weight: 400;
  }
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2em;
  }
}
