.textcolumns_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: flex-start;
  gap: 48px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
